@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1a1a1b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1b;
    --foreground: #ffffff;
  }
}

html,
body {
  overflow-x: hidden;
  max-width: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
